{% extends "base.html" %}

{% block head_title %}IDM Forgotten Password{% endblock %}

{% block content %}
	<h2>I Forgot my Password</h2>
	{%- if message %}<p>{{ message|capitalize }}</p>{% endif %}
	{%- if errormessage %}<p class="errormessage">{{ errormessage|capitalize }}</p>{% endif %}
	<form action="iforgot" method="POST">
		<p><input name="username" type="text" value="{{ username|default('') }}" placeholder="your email address"></p>
		<p>
			<button type="submit">Send Link</button>
		</p>
	</form>
{% endblock %}
